body{
    background-color: #f8f8f8 !important;
}

.nav{
    border-radius: 0 !important;
    background: #000 !important;
    
}



.mt-5{
    margin-top: 5px !important;
}

.mymodal{
    height: 570px !important;
    top: 100px !important;
    font-size: 20px !important;
}


.image{
    position: relative;
    height: 250px;
}

.image__img{
    display: block;
    width: 100%;
    transition: all 0.25s ease;
    cursor: pointer;

}


.image__img:hover{
    transform: scale(1.05);
    filter: brightness(70%);
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.25s ease;

}
.image__relay{
    position: absolute;
    left: 90%;
    top: 85%;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}
.image__relay a{
    text-decoration: none;
    color: #f8f8f8;

}
.image__overlay--blur{
    backdrop-filter: blur(3px);
}
.image__overlay:hover{
    opacity: 1;
}
.float__right{
    float: right !important;
}
.upper{
    text-transform: capitalize;
}
.reduce__card{
    width: 800px !important;
}
.linked a{
    text-decoration: none;
    color: #000;

}

.melody{
background-image: url('../photosss/galeria.png');
height: 700px;
background-position: center;
background-size: cover;
filter: brightness(50%);
position: relative;
}
.mag{
    position: absolute;
    top: 12%;
}