{% extends 'awwards/base.html'%}

{% block title%}HOME{% endblock%}
{% block content%}
<div class="ui center aligned basic segment">
  
    <div class="ui horizontal divider">
        WELCOME
        </div>
        </div>

        <div class="ui equal width grid">
            {% for post in posts %}
            <div class="five wide column">
    
            <div class="ui raised segment">
                <div class="image">
    
                    <img class="ui image image__img" src="{{post.image.url}}" alt="">
                    <div class="image__overlay image__overlay--blur">
                        <button type="submit" class="ui inverted  button">Review</button>
                    </div>
                    <i class="share icon"></i>
                </div>
                <p class="float__right">{{post.created |date:"M d, Y"}}</p><br>
                <p>From <span class="upper"> {{post.location}}</span></p><hr>
                <p>{{post.author}}</p>
    
             
                </div>
            </div>
    
              {% endfor%}
    
            </div>

      
{% endblock%}