{%extends 'awwards/base.html'%} 
{% block content %}
<div class="container">

  <div class="row text-center" style="margin-top: 100px;">
    {% if projects%}
      <h2>Found {{ projects|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 projects for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if projects %}
    {% for post in projects %}
    <div class="col-md-6 col-lg-4 col-12 col-sm-12">
      <div class="row m-1 mb-3">
          <div class="card  ">
              <div class="image mt-3">
                  <img class="ui image image__img" src="{{post.image.url}}" alt="img">
                  <div class="image__overlay image__overlay--blur">
                    <a href="{% url 'review' post.id %}"> <button class="ui inverted  button">Review</button></a>
                   <div class="image__relay">
                      <a href="{{post.url}}" data-inverted="" data-tooltip="Visit live link"  target="_blank"> <i class="share icon large"></i></a>
                   </div> 
                  </div>

              </div>
              
              <div class="card-body">
                  <h6><span class="upper"> {{post.project_name}}</span></h6><br>

        
                  <p class="float-end">{{post.created |date:"M d, Y"}}</p>
                  <p>From <span class="upper"> {{post.location}}</span></p><hr>
                  <p>By:<span class="upper fs-5"> {{post.author}}</span></p>
              </div>
            </div>
      </div>
  </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}