<div class="ui grid  inverted menu nav mb-7">
    <div class="ui container">
      <a href="{% url 'home' %}" class="item">
          <h3>Awardzz</h3>
      </a>
  
      <div class="right menu">
          {% if request.user.is_authenticated %}
               <div class="item">
                <form action="" method="GET">
                  <div class="ui action left icon input">
                  <input class="prompt" type="text" name='q' placeholder="project name...">
                  <i class="search icon"></i>
                  <button type='submit' class="ui button">Search</button>
                  </div>
              </form>
              </div>
          
              <a href="{% url 'profile' %}" class="item">
                   {{ request.user }}'s Profile<i class="user icon"></i>
              </a>
  
              <a href="" class="ui item">
                  Logout
              </a>
          {% else %}
          <a href="" class="ui item">
                  Login
              </a>
          {% endif %}
      </div>
    </div>
  </div>



  <!-- NEW NAVBAR -->

