<div class="container-fluid">

<div class="ui grid  inverted menu nav fixed mb-7 nav-bars">
    <div class="ui container">
      <a href="{% url 'home' %}" class="item">
          <h3>Awardzz</h3>
      </a>
  
      <div class="right menu">
          {% if user.is_authenticated %}
               <div class="item search__bar">
                <form action="{% url 'search_results' %}" role="search">
                  <div class="ui action left icon input">
                  <input class="prompt" type="text" name='project' placeholder="project name...">
                  <i class="search icon"></i>
                  <button type='submit' class="ui button">Search</button>
                  </div>
              </form>
              </div>
          
              <a href="{% url 'profile' %}" class="item nav-item">
                   {{ request.user }}<i class="user icon"></i>
              </a>
  
              <a href="/logout" class="ui item nav-item">
                  Logout
              </a>
          {% else %}
          <a href="/accounts/login" class="ui item nav-item">
                  Login
              </a>
          {% endif %}
      </div>
    </div>
  </div>
</div>


